# Dependencies
node_modules/

# Export data
mongodb_export/
mongodb_export_csv/

# Environment
.env
.env.local

# OS files
.DS_Store
Thumbs.db

# IDE
.idea/
.vscode/
*.swp
*.swo

# Logs
*.log
npm-debug.log*
